
.formTutorial .bannerContent{
  width: 100%;
  height: 270px;
  border: 1px solid black;
  margin-top: 10px;
}
.icon {
  width: 8%;
  height: 30px;
  margin: 10px;
}

.hours{
  font-family: 'Impact';
  font-weight: bold;
  font-size: 18px;
  margin: 10px;
  width: 8%;
}

.formTutorial .leyenda {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 15px;
}
.formTutorial .banner{
  width: 100%;
  height: 270px;
  border-radius: 10px;
  border: 1px black solid;
}
.formTutorial{

    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 40%;
    height: 780px;
}

.spaceB {

  display: flex;
  width: 90%;
  height: auto;
  align-items: center;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
}

.precio {

  height: 30px;
  left:0;
  width: 35%;
  text-align: center;
}

.btnTutoria {

  color: whitesmoke;
  font-weight: normal;
  margin-left: 30px;
  border-radius: 5px;
  background: rgb(236, 61, 61);
  border: 1px rgb(255, 61, 61) solid;
  height: 40px;
  width: 40%;
}

.inputs {
  width: 40%;
  border:1px solid gray;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.unstyled::-webkit-inner-spin-button{
  display: none;
  -webkit-appearance: none;
}

.inputs[type=number]{
  text-align: center;
}
.labels {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-weight: lighter;
  display: block;
  width: 42%;
  text-align: justify;
  margin:0px;
}
.formTutorial .error{
  font-size: 12px;
  margin-top:-10px;
  color: red;
}

.btnTutoria:hover{
  cursor: pointer;
  border: 1px black solid;
}
.formLogin input:focus{

    border: 1px blue inset;
}

