.divRegister{
    background: whitesmoke;
    width: 100%;
    max-height: auto;
}
.mainRegister{
    display: flex;
    flex-direction: row;
    background: transparent;
    height: auto;
    justify-content: space-between;
    color: black;
}
.masInfo {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.form {
  display: none;
}
.masInfo:hover{
    border-radius: 50%;
    background:whitesmoke;
}
.divRegister .mainRegister .masInfo:hover {
  cursor: pointer;
}
.mainRegister .imgRegister{
    display: flex;
    justify-content: center;
    width: 45%;
    height: auto;
    margin-right:8%;
    margin-left: 2%;
    align-items: center;
    text-align: center;
    align-self: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.politicas {
  display: block;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.formRegister .ini {
  text-align: left;
}
.imgRegister p{

    color: whitesmoke;
    position: absolute;
    font-weight: lighter;
    font-size: 20px;
}
.imgRegister .title{
    font-weight: bold;
    font-size: 40px;
    color:white;
    text-align: center;
}
.imgRegister img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.registerHeader{
    background:transparent;
    width: 100%;
    height: 80px;
}
.divider{
    margin:auto;
    margin-top:20px;
    justify-content: center;
    height:auto;
    width: 80%;
}
.formRegister{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right:2%;
    margin-left: 8%;
    background: #f2f2f2;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: auto;
}

#nombre {
  width: 40%;
}

#apellido  {
  width: 40%;
}

.formRegister input{

    margin: 7px 0px 7px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}

.formRegister select{

    margin: 7px 0px 7px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}

.formRegister .formIcon{

    width:65px;
    height: 65px;
    background: whitesmoke;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px black solid;

}

.formRegister .passwordContent{

    justify-content:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
.formRegister .passwordContent .eye{


    right:62%;
    align-self: flex-end;
    width:20px;
    position: absolute;
    height:20px;
}

.formRegister .passwordContent .eye:hover{

    cursor: pointer;
}

.formRegister .passwordField{

    margin: 7px 0px 7px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 80%;
}
.formRegister .formIcon img{

    height: 55px;
    width: 50px;
}

.formRegister input[type='submit']{

    margin-top: 15px;
    color:white;
    cursor: pointer;
    background: #EA093C;
    padding: 10px;
}
.formRegister .session{
    color: whitesmoke;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 10px;
}
.formRegister p{
    color: black;
    font-size: 11px;
    margin: 0px;
}
.formRegister .validations{
    color: darkred;
}
.formRegister input:focus{

    border: 1px blue inset;
}
.banner {
  margin: 0px;
  display:flex;
  flex-direction:row;
  background: url(./../../img/login/background.jpg);
  width: 100%;
  height: 170px;
  align-items: center;
  justify-content: center;
}
.bigTitle {
  width:85%;
  text-align: left;
  font-weight: 10;
  margin: 40px 0px 0px 0px;
  color: white;
  font-size: 50px;
}

.nombreYApellido {
  width: 80%;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 1100px) {
  .mainRegister {
    flex-direction: column;
    align-items: center;
  }

  .mainRegister .imgRegister {
    margin: 0;
    width: 50%;
  }

  .formRegister .passwordContent .eye{
      right:32%;
  }

  .mainRegister .formRegister {
    margin: 30px 0 30px 0;
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .mainRegister {
    flex-direction: column;
    align-items: center;
  }

  .mainRegister .imgRegister {
    margin: 0;
    width: 70%;
  }

  .formRegister .passwordContent .eye{
      right:23%;
  }

  .mainRegister .formRegister {
    margin: 30px 0 30px 0;
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .mainRegister {
    flex-direction: column;
    align-items: center;
  }

  .mainRegister .imgRegister {
    margin: 0;
    width: 70%;
  }

  .formRegister .passwordContent .eye{
      right:23%;
  }

  .mainRegister .formRegister {
    margin: 30px 0 30px 0;
    width: 70%;
  }

  #nombre {
    width: 100%;
  }

  #apellido  {
    width: 100%;
  }

  .nombreYApellido {
    width: 80%;
    display: flex;
    flex-direction: column;

  }
}

@media screen and (max-width: 400px) {
  .bigTitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 360px) {
  .formRegister input[type="submit"]{
      width: 50%;
  }
}
