
.panelStudent{
 background-color: whitesmoke;
}
.panelStudent header{
    height: auto;
}
.panelStudent .headerNav{
    margin: 0px;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    position:fixed;
    z-index: 999;
    background-color:rgba(200, 200, 200,.8);
}
.panelStudent .main{
    width: 100%;
    height: auto;
    padding-top: 6%;
}
.panelStudent .main .panelStudentContent{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.panelStudent .main .panelStudentContent .navigationSideBar{
    width: 30%;
    height: 100vh;
}

.panelStudent .main .panelStudentContent .informationContent{
    width: 70%;
}

@media screen and (max-width: 640px) {
  .panelStudent .main .panelStudentContent .navigationSideBar{
      display: none;
  }
  .panelStudent .main .panelStudentContent .informationContent{
      width: 100%;
  }
  .panelStudent .main{
    padding-top: 48px;
  }
}
