.formUpdate{

    margin:auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.formUpdate input{
    margin: 7px 0px 7px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 40%;
}

.formUpdate .optional {
  display: none;
}

.formUpdate select{

    margin: 7px 0px 7px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 43%;
}

.formUpdate .formIcon{

    width:65px;
    height: 65px;
    background: whitesmoke;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px black solid;

}

.formUpdate .passwordContent{

    justify-content:center;
    display:flex;
    flex-direction: column;
    width: 43%;
    height: auto;
}

.formUpdate .passwordContent .eye{
    right:28%;
    align-self: flex-end;
    width:20px;
    position: absolute;
    height:20px;
}
.formUpdate .passwordContent .eye:hover{
    cursor: pointer;
}

.formUpdate .passwordField{
    margin: 7px 0px 7px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 93%;
}
.formUpdate .formIcon img{
    height: 55px;
    width: 50px;
}

.formUpdate input[type='submit']{

    border: 1px black solid;
    margin-top: 15px;
    color:whitesmoke;
    cursor: pointer;
    background: black;
}

.formUpdate .session{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 10px;
}

.formUpdate p{

    color: black;
    font-size: 11px;
    margin: 0px;
}

.formUpdate .validations{

    color: darkred;
}

.formUpdate input:focus{

    border: 1px blue inset;
}

.container {
  border: 1px solid black;
  margin: 20px 150px 20px 20px;
  border-radius: 15px;
  padding: 10px 0 20px 0;
}

.bigContainer .container h3 {
  font-size: 30px;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

.flecha  {
  width: 20px;
  height: 20px;
  margin-left: 12%;
}

.flecha:hover {
  cursor: pointer;
}

.left {
  display: inline-block;
  width: 40%;
  text-align: left;
  padding-left: 5%;
  height: 30px;
}

.infor  {
  display: flex;
  height: 30px;
}

.bigContainer .container hr {
  width: 90%;
}

.center {
  display: inline-block;
  width: 40%;
  text-align: left;

}

h2 {
  padding-top: 30px;
}

.updateInfoContainer div p {
  font-size: 16px;
  margin-top: 10px;
}

.guardar {
  border-radius: 5px;
  color:white;
  cursor: pointer;
  background: #EA093C;
  border: none;
  display: none;
  margin-left: 6%;
}

.editar {
  display: none;
}
