.formUpdate{

    margin:auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.formUpdate input{
    margin: 7px 0px 7px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 40%;
}

.formUpdate .optional {
  display: none;
}

.formUpdate select{

    margin: 7px 0px 7px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 43%;
}

.formUpdate .formIcon{

    width:65px;
    height: 65px;
    background: whitesmoke;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px black solid;

}

.formUpdate .passwordContent{

    justify-content:center;
    display:flex;
    flex-direction: column;
    width: 43%;
    height: auto;
}

.formUpdate .passwordContent .eye{
    right:28%;
    align-self: flex-end;
    width:20px;
    position: absolute;
    height:20px;
}
.formUpdate .passwordContent .eye:hover{
    cursor: pointer;
}

.formUpdate .passwordField{
    margin: 7px 0px 7px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 93%;
}
.formUpdate .formIcon img{
    height: 55px;
    width: 50px;
}

.formUpdate input[type='submit']{

    border: 1px black solid;
    margin-top: 15px;
    color:whitesmoke;
    cursor: pointer;
    background: black;
}

.formUpdate .session{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 10px;
}
.formUpdate p{
    color: black;
    font-size: 11px;
    margin: 0px;
}
.formUpdate .validations{

    color: darkred;
}

.formUpdate input:focus{

    border: 1px blue inset;
}

.container {
  border: 1px solid black;
  margin: 20px 150px 20px 20px;
  border-radius: 15px;
  padding: 10px 0 20px 0;
  width: 90%;
}

.bigContainer .container h3 {
  font-size: 30px;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

.bigContainer .container .btnEliminarCuenta {
  color: whitesmoke;
  background: #EA093C;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.flecha  {
  width: 20px;
  height: 20px;
  margin-left: 12%;
}

.flecha:hover {
  cursor: pointer;
}

.left {
  display: inline-block;
  width: 40%;
  text-align: left;
  padding-left: 5%;
  height: 30px;
}

.infor  {
  display: flex;
  height: 30px;
}

.bigContainer .container hr {
  width: 90%;
}

.infor .center {
  display: inline-block;
  width: 40%;
  text-align: left;

}

.updInfo {
  width: 100%;
}

.updInfo h2 {
  padding-top: 30px;
  font-weight: bold;
}

.updInfo p {
  font-size: 16px;
  margin-top: 10px;
}

.infor .guardar {
  border-radius: 5px;
  color:white;
  cursor: pointer;
  background: #EA093C;
  border: none;
  display: none;
  margin-left: 6%;
}

.infor .editar {
  display: none;
}

@media screen and (max-width: 1200px) {
  .left {
    width: 30%;
  }

  .infor .center {
    width: 50%;

  }
}

@media screen and (max-width: 850px) {
  .left {
    font-size: 12px;
    width: 30%;
  }

  .infor .center {
    width: 50%;
    font-size: 12px;
  }

  .bigContainer .container h3 {
    font-size: 22px;
  }

  .infor .guardar {
    font-size: 12px;
    margin-left: 6%;
  }
}

@media screen and (max-width: 950px) {

  .container {
    margin: 20px 20px 20px 20px;
  }
}

@media screen and (max-width: 750px) {

  .left {
    font-size: 12px;
    width: 30%;
  }

  .infor .center {
    width: 40%;
    font-size: 12px;
  }

  .infor .guardar {
    font-size: 12px;
    margin-left: 12%;
  }

  .flecha  {
    margin-left: 22%;
  }
}

@media screen and (max-width: 750px) {

  .updInfo {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {

  .updInfo p {
    padding: 0 15px 0 15px;
  }

}

@media screen and (max-width: 450px) {

  .infor .left {
    width: 45%;
  }
  .infor .center {
    width: 35%;
    font-size: 10px;
  }

  .infor .guardar {
    margin-left: 2%;
    margin-right: 5%;
  }

  .flecha  {
    margin-left: 10%;
  }
}

@media screen and (max-width: 1350px) {
  .formUpdate .passwordContent{
      width: 80%;
  }
  .formUpdate .passwordContent .eye{
      right:25%;
  }
}

@media screen and (max-width: 750px) {
  .formUpdate .passwordContent{
      width: 100%;
  }
  .formUpdate .passwordContent .eye{
      right:22%;
  }
}

@media screen and (max-width: 750px) {
  .formUpdate .passwordContent .eye{
      right:30%;
  }
}

@media screen and (max-width: 420px) {
  .formUpdate .passwordContent .eye{
      right:20%;
  }
  .formUpdate{

      width: 80%;

  }
}
