.recoverAccountContent html, body {
  height: 100%;
}

hr {
  width: 100%;
  height: 1px;
  color: black;

}

.recuperarCuenta {

  padding-top: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recuperarCuenta h2 {
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 5px;
}

.recuperarCuenta p {
  margin-top: 100px;
  font-size: 20px;
  padding: 0 20px 0 20px;
}

.recuperarCuenta input[type="email"] {
  border-radius: 5px;
  display: block;
  width: 30%;
  font-size: 20px;
  margin: 20px;
  padding-left: 15px;
  border: 2px solid black;
}

.recuperarCuenta input[type="submit"] {
  border-radius: 5px;
  display: block;
  width: 15%;
  padding: 5px;
  font-size: 20px;
  margin: 20px;
  color:white;
  cursor: pointer;
  background: #EA093C;
  border: 0px solid #EA093C;
}

@media screen and (max-width: 650px) {
  .recuperarCuenta input[type="email"] {
    width: 40%;
    font-size: 16px;
  }

  .recuperarCuenta input[type="submit"] {
    width: 20%;
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .recuperarCuenta input[type="email"] {
    width: 50%;
    font-size: 16px;
  }

  .recuperarCuenta input[type="submit"] {
    width: 25%;
    font-size: 16px;
  }

  .recuperarCuenta h2 {
    font-size: 30px;
  }

  .recuperarCuenta p {
    margin-top: 50px;
  }
}
