.circle{

    width: 200px;
    height: 200px;
    transition: background 1s linear;
    overflow: hidden;
}

img{

    width:100%;
    height: auto;
}

.circle img{
    padding-top: 20px;
    width:75%;
    height: 150px;
    transition: all 1s linear;
}

.circle img:hover{

    padding-top: 20px;
    width: 85%;
    height: 155px;
    transition: all 1s linear;
}

  