

.barNavigation{

    margin:0;
    padding: 5px 0px 5px 0px;
    background-color:transparent;
    transition: background 2s ease;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 999;
}

.barNavigation2{


    background-color: rgba(10, 10, 10, 1);
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 2s ease;
    z-index: 999;

}

.fixed{

    position: fixed;
}

.barNavigation .icon{

    display: flex;
    cursor: pointer;
    margin: 0px 0px 0px 0px; /** arriba, derecha, abajo, izquierda*/
    width: 10.5%;
    height: auto;
    justify-content: center;
}

.barNavigation .icon img{
  width: 30%;
  height: 100%;
}
.barNavigation .menu{
    margin:15px 10px;
    width: 79%;
    display: flex;
    flex-direction: row;
    align-items : center;
    justify-content: center;
}

.voidBox {
  display: flex;
}

.barNavigation .menu a{

    color: white;
    font-weight: bold;
    margin-left: 25px;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}

.barNavigation .menu .uniform:hover{

    color:red;
}

.menuBar {
  width: 4%;
  height: 4%;
  display: none;
}

.menuBar:hover {
  cursor: pointer;
}

.barNavigation .userContent{
  width:10.5%;
  height: auto;
  display: flex;
  flex-direction:row;
  justify-content: center;
}
 .barNavigation .userContent .user{
  margin:0;
  background: white;
  border-radius: 50%;
  width: 25%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .barNavigation .menu .uniform{
    display: none;
  }
  .barNavigation .menu .special{
    display: none;
  }
  .barNavigation .menu  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .menuBar {
    display: inline-block;
    text-align: right;
  }

}
