.calendarContent{

    width: 100%;
    height: auto;
    margin: auto;
    background-attachment: fixed;
}
.calendarContent h2{
    font-weight:bold;
    padding-top:30px;
}
.calendarContent .info{
    margin-top:10px;
    font-size:16px;
}
.calendarContent .tutorialContent{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.calendarContent .tutorialContent .sideBar{

    margin: 0px;
    width:30%;
    margin-right: 2%;
    height: 430px;
    border: 3px black double;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}

.calendarContent .tutorialContent .sideBar .title{

    margin:5px;
    font-size: 18px;
    font-weight: lighter;
}

.calendarContent .tutorialContent .sideBar .tutorialFileContent{

    margin: auto;
    width: 90%;
    height: 80%;
    overflow: scroll;
    border: 1px black solid;
}
.calendarContent .tutorialContent .fullCalendar{

    margin: 25px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    width: 75%;
    height: auto;
    background-color: whitesmoke;
}

.calendarContent .fullCalendar .fc-center h2{
    font-size: 20px;
    font-weight: bolder;
    color:rgb(216, 20, 20);
}

.calendarContent .fullCalendar .fc-day-header{
    background: lightgray;
    height: 40px;
}
.calendarContent .fullCalendar .fc-today-button{
    background: white;
    font-weight: bold;
    color: black;
}
.calendarContent .fullCalendar .fc-day-header span{
    color: gray;
}

.calendarContent .fullCalendar .fc-prev-button{

    background:white;
}

.calendarContent .fullCalendar .fc-next-button{

    background:white;
}

.calendarContent .fullCalendar .fc-icon-chevron-left{
    color: black;
}

.calendarContent .fullCalendar .fc-icon-chevron-right{
    color: black;
}
.calendarContent .fullCalendar span{

    color:black;
}

.calendarContent .fullCalendar .fc-today{

    background:rgb(216, 20, 20);
}
.calendarContent .mainTitle{
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 25px;
    color:black;
}

.calendarContent .tutorialContent .fullCalendar .operationButtons{

    width: 40%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendarContent .tutorialContent .fullCalendar .operationButtons a{

    background: whitesmoke;
    border-radius: 50%;
    color:rgb(216, 20, 20);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendarContent .tutorialContent .fullCalendar .operationButtons a:hover{

    color:red; 
} 
