.selectorIndexCont{
    background:linear-gradient(to right, rgba(150,45,45,0.7) 50%, rgba(210,210,210,0.7) 50%);
    border-radius:10px;
    border:1px solid whitesmoke;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    font-family:'Montserrat', sans-serif;
    font-weight: 300px; 
    height: 500px;   
}
.selectorIndexCont h3{
    width:100%;
    font-size: 50px;
    font-weight: normal;
    color: whitesmoke;
    align-self: center;
}
.selectorIndexCont h3 span{
    color:rgba(194, 18, 18,1);
}
.selectorIndexCont .selectionCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 25px;
    justify-content: space-around;
    align-items:center;
    height: 50%;
}
.selectorIndexCont .selectionCont a{
    text-decoration: none;
    display: flex;
    font-weight: bold;
    font-size: 50px;
} 
.selectorIndexCont .selectionCont .studentCont{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:radial-gradient( whitesmoke 25%, lightgray 50%, gray 100%);    
    border: 1px black solid;
    display: flex;
    cursor: default;
    justify-content: center;
    align-items: center;
    transition:box-shadow 1s ease-in-out;
    color:black;
}
.selectorIndexCont .selectionCont div{
    display:flex;
    font-weight: normal;
    flex-direction:row;
    flex-wrap:wrap;
    width: 30%;
    justify-content: center;
    margin:10px;
}
.selectorIndexCont .selectionCont div .student{
    width:100%;
    color:whitesmoke;
}
.selectorIndexCont .selectionCont .studentCont:hover{
    box-shadow: 0px 0px 15px 5px black;
    cursor: pointer;
}
.selectorIndexCont .selectionCont .masterCont{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:radial-gradient(rgba(194, 18, 18,1) 25%, rgba(170, 18, 18,1) 50%, darkred 100%);    
    border: 1px black solid;
    display: flex;
    cursor: default;
    justify-content: center;
    align-items: center;
    transition:box-shadow 1s ease-in-out;
    color:whitesmoke;
}
.selectorIndexCont .selectionCont div .tutor{
    width:100%;
    color:rgba(194, 18, 18,1);
}
.selectorIndexCont .selectionCont .masterCont:hover{
    box-shadow: 0px 0px 15px 5px black;
    cursor: pointer;
}
@keyframes moveLeft{
    from{margin-left: -50px;}
    to{margin-left:0px;}
}