.selectorIndexCont{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top:220px;
}
.selectorIndexCont h3{
    font-size: 50px;
    color: lightskyblue;
}
.selectorIndexCont .selectionCont{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 25px;
    font-weight: normal;
    justify-content: center;
}
.selectorIndexCont .selectionCont a{
    text-decoration: none;
    color:white;
}
.selectorIndexCont .selectionCont a:hover{
    background:rgba(194, 18, 18,.6);    
    transition: background 1s ease;
}
.selectorIndexCont .selectionCont .studentCont{
    border-radius: 5px;
    padding: 25px 45px 25px 45px;
    background:rgba(194, 18, 18,.4);    
    border: 1px darkred solid;
    display: inline-block;
    margin-right: 10px;
    cursor: default;
}
.selectorIndexCont .selectionCont .masterCont{
    border-radius: 5px;
    padding: 25px 70px 25px 70px;
    background:rgba(194, 18, 18,.4);    
    border: 1px darkred solid;
    display: inline-block;
    margin-left: 10px;
    cursor: default;

}



